body {
    margin: 0;
    padding: 0;
}

nav {
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 106, 47, 0.281);
    position: fixed;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

h1{
    text-align: center;
    margin-top: 70px;
}

div{
    display: flex;
    justify-content:center;
}

footer{
    background-color: rgba(250, 250, 147, 0.596);
    border: 2px solid black;
    padding-left: 20px;
}

.inputs{
    margin: 15px;
    height: 30px;
    width: 50%;
}

.inputs[type="submit"]{
    cursor: pointer;
    width: 30%;
    background-color: rgba(243, 108, 74, 0.774);
}
